#flush current ipfw rules
ipfw -q -f flush

#setting pia adapter as tun interface
cmd="ipfw -q add"
vpn="pia"

#allow connect from/to loopback and tun
$cmd 00001 allow all from any to any via lo0
$cmd 00010 allow all from any to any via $vpn

#allow connect from MGMT
$cmd 00101 allow log all from 192.168.1.0/24 to me uid prowlarr
$cmd 00102 allow log all from me to 192.168.1.0/24 uid prowlarr

#allow connect from DMZ
$cmd 00103 allow all from me to 192.168.0.0/24 uid prowlarr
$cmd 00104 allow all from 192.168.0.0/24 to me uid prowlarr

#allow connect from VPN
$cmd 00105 allow all from me to 10.9.0.0/24 uid prowlarr
$cmd 00106 allow all from 10.9.0.0/24 to me uid prowlarr

#deny any traffic not to webUI or via pia tun interface
$cmd 00200 deny log all from any to any uid prowlarr

#adding static routes for connection via other vlans 
route add 192.168.1.0/24 192.168.0.1
route add 10.9.0.0/24 192.168.0.1
